[submodule "shadow-scraper"]
	path = shadow-scraper
	url = https://github.com/IsMyBand/shadow-scraper.git
[submodule "node-red"]
	path = node-red
	url = https://github.com/IsMyBand/node-red
[submodule "sapereAudeBot"]
	path = aude-bot-engine
	url = https://github.com/IsMyBand/aude-bot-engine
[submodule "py-evm"]
	path = py-evm
	url = https://github.com/IsMyBand/py-evm
